/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/*
everthing in here is a comment */

/* colors used:
background-color: #E7F6F2;
first-color: #2C3333;
second-color: #395B64;
third-color: #5C527F;
white-color: #fff;
*/

:root {
  --first-color: #e7f6f2;
  --second-color: #2c3333;
  --third-color: #395b64;
  --fourth-color: #5c527f;
  --fifth-color: #fff;
}

body {
  background-color: var(--first-color);
  color: var(--second-color);
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin: 12px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  margin-bottom: 65px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  height: fit-content;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

nav {
  font-size: 20px;
  font-weight: 700;
  font-variant: small-caps;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  font-size: 22px;
}

.navigation-list__item:hover {
  font-size: 22px;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

p {
  margin-inline: 5px;
}

.profile,
.about,
.experience,
.contact {
  max-width: 700px;
  margin: 0 auto;
}

.contact-information {
  text-align: center;
}

#profile-portrait {
  float: left;
  width: 250px;
  border-radius: 50%;
}

.profile-grid__item {
  display: inline-block;
  width: 50%;
}

.profile-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
}

.profile-grid__item {
  width: auto;
}

a {
  color: var(--third-color);
}

a:visited {
  color: var(--fourth-color);
}

/* focus is for keyboard navigation text-decoration removes underlining when hovering */
a:hover,
a:focus {
  text-decoration: none;
  -webkit-transition: 0.2s font-size, -webkit-text-decoration;
  transition: 0.2s font-size, -webkit-text-decoration;
  transition: 0.2s font-size, text-decoration;
  transition: 0.2s font-size, text-decoration, -webkit-text-decoration;
}

button,
.button {
  border: none;
  /*
  overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit;
  /*
  copies font from outer container --> body */
  background-color: var(--fourth-color);
  color: var(--fifth-color);
  text-decoration: none;
  padding: 7px;
  margin: 3px;
  border-radius: 5px;
  /* for round corners */
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.3);
  /*
  adds a black bottom but slightly transparent (0,3) */
  border-right: 2.5px solid rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.2s opacity;
  transition-duration: 0.2s opacity;
}

.button:visited {
  color: var(--fifth-color);
}

.cv-button,
#cv-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  text-align: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.preview-button:hover,
.preview-button:focus {
  cursor: pointer;
  /*
  cursor turns to a hand */
  opacity: 80%;
}

/* Test button index.html

.button__secondary {
background-color: #2C3333;
color: #A5C9CA;
border-bottom: 2.5px solid rgba(255, 255, 255, 0.3);
/* adds a black bottom but slightly transparent (0,3)
border-right: 2.5px solid rgba(255, 255, 255, 0.5);
}
*/

/* start Grid Fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
  text-align: center;
}

/* end Grid Fallback */

.project-list {
  display: -ms-grid;
  display: grid;
  /*
  grid-template-column: 300px 300px 300px;
  fractions (fr) are better -- they are responsive */
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 25px;
}

.project-list__item {
  background-color: lightgrey;
  width: auto;
  min-height: auto;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  max-height: 350px;
  border-radius: 10px 10px 0px 0px;

}

.project-links {
  padding: 15px;
}

/*
.project-list__item:first-child {
  grid-column: 2 / 2;
  grid-row: 1 / 3;

//  shortform: grid-column-start: 2; grid-column-end: 2; and so on...
             
}

.project-list__item:last-child {
  grid-column: 2 / 2;
  grid-row: 3 / 4;
}
*/
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-block: 65px;
}

.footer-link {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (max-width: 680px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 681px) and (max-width: 950px) {
  .project-list {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 951px) {
  .project-list {
    grid-gap: 10px;
  }

  .project-list__item:first-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

/*      animation-duration: 4s;
animation-name: color-change;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;      */

@-webkit-keyframes cloud-move {
  0% {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  100% {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  0% {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  100% {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 20s cloud-move infinite alternate linear;
  animation: 20s cloud-move infinite alternate linear;
}

/*    animation-duration: 30s;
animation-name: cloud-move;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;   */

@-webkit-keyframes cloud-move-reverse {
  0% {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  100% {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  0% {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  100% {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 28s cloud-move-reverse infinite alternate linear;
  animation: 28s cloud-move-reverse infinite alternate linear;
}